<dl class="instance-list">
    {% for instance in include.instances %}
        <dt>{{ instance.instance }}</dt>
        <dd>
            <i>{% if include.lang == "en" %}Categories{% else %}Kategorien{% endif %}</i>:
                {% assign tags = instance.tags | sort %}
                {% for tag in tags %}
                    {% if forloop.first and include.lang == "en" %}{{ site.data.defederation_reasons[tag][include.lang]|capitalize }}{% else %}{{ site.data.defederation_reasons[tag][include.lang] }}{% endif %}{% unless forloop.last %}, {% endunless %} 
                {% endfor %}
                {% if include.lang == "en" and instance.comment_en.size != 0 %}
                    <br><i>Comment:</i> {{ instance.comment_en|markdownify }}
                {% endif %}
                {% if include.lang == "de" and instance.comment_de.size != 0 %}
                    <br><i>Kommentar:</i>{{ instance.comment_de|markdownify }}
                {% endif %}
                {% if instance.receipts and instance.receipts.size != 0 %}
                    <br>
                    {% if include.lang == "en" %}<i>Receipts:</i>{% else %}<i>Belege:</i>{% endif %}
                    {% for receipt in instance.receipts %}
                        <a href="{{ receipt }}">[{{ forloop.index }}]</a><br>
                    {% endfor %}
                {% endif %}
        </dd>
    {% endfor %}
</dl>
