<table id="money">
   <thead>
      <tr>
         <th></th>
         <th class="sticky">Total</th>
         {% for month in include.data.cbrDates reversed %}<th>{{ month[0]["contents"]|truncate: 7, "" }}</th>{% endfor %}
      </tr>
   </thead>
   <tbody>
      {% for report in include.data.cbrSubreports %}
         <tr>
            <th>{{ report[0] }}</th>
            <td class="sticky"></td>
            {% for month in include.data.cbrDates %}
               <td></td>
            {% endfor %}
         </tr>
         {% for row in report[1].prRows %}
         <tr>
            <th>{{ row.prrName | categoryName }}</th>
            <td class="sticky">{{ row.prrTotal[0].aquantity.floatingPoint | monetary }}</td>
            {% for amount in row.prrAmounts reversed %}
            <td>
               {% if amount[0].aquantity.floatingPoint %}
                  {{ amount[0].aquantity.floatingPoint | monetary }}
               {% endif %}
            </td>
            {% endfor %}
         </tr>
         {% endfor %}
      {% endfor %}
      <tr class="total">
         <th>Net:</th>
         <th class="sticky">{{ include.data.cbrTotals.prrTotal[0].aquantity.floatingPoint | monetary }}<br><i>(Balance)</i></th>
         {% for amount in include.data.cbrTotals.prrAmounts reversed %}
            <td>
               {% if amount[0].aquantity.floatingPoint %}
                  <span{% if amount[0].aquantity.floatingPoint < 0 %} class="negative"{% endif %}>
                     {{ amount[0].aquantity.floatingPoint | monetary }}
                  </span>
               {% endif %}
            </td>
         {% endfor %}
      </tr>
   </tbody>
</table>
