{% assign current = '' %}
{% assign nav_content = include.nav[include.page.language] %}

{% if nav_content.url == "/" %}
    {% if include.page.url == "/" %}
        {% assign current = 'current' %}
    {% endif %}
{% else %}
    {% if include.page.url contains nav_content.url %}
        {% assign current = 'current' %}
    {% endif %}
{% endif %}
<li>
{% if nav_content.url %}
    <a class="center-nav {% if include.nav.mobile %}important {% endif %}{{ current }}" href="{{ nav_content.url }}">{{ nav_content.name }}</a>
{% else %}
    <span class="center-nav {% if include.nav.mobile %}important {% endif %}{{ current }}">{{ nav_content.name }}</span>
{% endif %}
    {% if include.nav.submenus %}
    <ul>
        {% for entry in include.nav.submenus %}{% if entry[include.page.language].name %}
            {% include nav_link.html nav=entry page=include.page %}
        {% endif %}{% endfor %}
    </ul>
    {% endif %}
</li>
