.toot iframe {
	border: 1px solid black;
	box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
	margin: 8px;
}
.toot {
	display: flex;
	margin-left: -8px;
	margin-bottom: 1.75em;
}
.post-content img.full-img {
	box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
	padding: 0;
	margin-left: -64px;
	margin-bottom: 1.75em;
	max-width: 150%;
}
header {
	position: relative;
}
.blog-logo {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 30%;
	height: 80%;
	display: flex;
	img {
		max-width: 100%;
		max-height: 100%;
		height: auto;
		padding: 0;
		margin-top: auto;
	}
}
.blog-logo.blog-post-logo {
	position: fixed;
	max-width: 300px;
}
@media(max-width: 1200px) {
	.blog-logo.blog-post-logo { max-width: 150px }
}
@media(max-width: 1000px) {
	.blog-logo.blog-post-logo { display: none }
}
@media(max-width: 600px) {
	.blog-logo { display: none }
}
