---
layout: default
disqus: false
archive: false
post_class: post-template
---

<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <section class="post-meta">
            <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            {% if page.categories.size > 0 %}
                {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
            {% endif %}
        </section>
    </header>

    <section class="post-content">
        {{content}}
    </section>

    <footer class="site-footer">
            <figure class="author-image">
                <a class="img" href="https://chaos.social" style="background-image: url(/assets/images/profile.png)">
                <span class="hidden">The chaos.social logo: the mastodon logo's speech bubble, but with a rocket silhouette inside</span></a>
            </figure>
            <section class="author">
                    <a href="/{% if page.language == "en" %}contact{% else %}kontakt{% endif %}">
                        {{ site.author }}
                    </a>
                    <br>
                    chaos.social administration and moderation
            </section>
    </footer>

</article>
